body {
  --afm-font-family: Nunito Sans, sans-serif;

  --layout--content-padding: var(--wp--custom--layout--content-padding-md);
  @media (max-width: theme("screens.md")) {
    --layout--content-padding: var(--wp--custom--layout--content-padding-sm);
  }

  --afm-color-surface-max: var(--wp--preset--color--gray-200);
  --afm-color-surface-highest: var(--wp--preset--color--gray-50);
  --afm-color-surface-high: var(--wp--preset--color--gray-25);
  --afm-color-surface: var(--wp--preset--color--white);

  --afm-color-surface-outline-lowest: var(--wp--preset--color--gray-200);
  --afm-color-surface-outline-low: var(--wp--preset--color--gray-300);
  --afm-color-surface-outline: var(--wp--preset--color--gray-500);
  --afm-color-surface-outline-highest: var(--wp--preset--color--gray-900);

  --afm-color-on-surface-highest: var(--wp--preset--color--gray-900);
  --afm-color-on-surface-high: var(--wp--preset--color--gray-800);
  --afm-color-on-surface: var(--wp--preset--color--gray-700);
  --afm-color-on-surface-low: var(--wp--preset--color--gray-600);
  --afm-color-on-surface-lowest: var(--wp--preset--color--gray-500);
  --afm-color-on-surface-min: var(--wp--preset--color--gray-400);


  @each $colorName in $colorNames {
    --afm-color-on-#{$colorName}: var(--wp--preset--color--white);
    --afm-color-on-#{$colorName}-low: var(--wp--preset--color--#{$colorName}-200);
    --afm-color-on-#{$colorName}-lowest: var(--wp--preset--color--#{$colorName}-400);
    --afm-color-on-#{$colorName}-min: var(--wp--preset--color--#{$colorName}-500);

    --afm-color-#{$colorName}-lowest: var(--wp--preset--color--#{$colorName}-100);
    --afm-color-#{$colorName}-low: var(--wp--preset--color--#{$colorName}-200);
    --afm-color-#{$colorName}-tint: var(--wp--preset--color--#{$colorName}-500);
    --afm-color-#{$colorName}: var(--wp--preset--color--#{$colorName}-600);
    --afm-color-#{$colorName}-high: var(--wp--preset--color--#{$colorName}-700);
    --afm-color-#{$colorName}-highest: var(--wp--preset--color--#{$colorName}-800);
    
    --afm-color-on-#{$colorName}-container: var(--wp--preset--color--#{$colorName}-600);
    --afm-color-#{$colorName}-container: var(--wp--preset--color--#{$colorName}-100);
    --afm-color-#{$colorName}-container-low: var(--wp--preset--color--#{$colorName}-50);
    --afm-color-#{$colorName}-container-lowest: var(--wp--preset--color--#{$colorName}-25);

    --afm-color-#{$colorName}-outline: var(
      --wp--preset--color--#{$colorName}-500
    );
    --afm-color-#{$colorName}-outline-lowest: var(
      --wp--preset--color--#{$colorName}-100
    );
  }
}